<div fxLayout="row" fxLayoutAlign="center center">
   <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="7px" fxFlex="82">
      <div *ngFor="let note of notes">
         <div *ngIf="note.isArchieved==0">
            <mat-card class="card" [ngStyle]="{'background-color':note.color}">
               <form>
                  <!----------(Apppin)-------->
                  <app-pin [noteInfo]=note></app-pin>
                  <div class="notearea">
                     <div>
                        {{note.title}}
                     </div>
                     <br>
                     <div>
                        {{note.description}}
                     </div>
                  </div>
                  <br>
                  <!-------(AddLabel)------>
                  <app-addlabel [labelInfo]=note></app-addlabel>
                  <div class=display>
                     <!----(AppIcons) ----->
                     <app-icon [noteInfo]=note></app-icon>
                  </div>
               </form>
            </mat-card>
         </div>
      </div>
   </div>
</div>