.card{
    margin-top: -22px;
    margin-left: -25px;
    width: 340px;
    margin-right: -25px;
    margin-bottom: -47px;
    border-radius: 2mm;
}
.mat-dialog-container {
    text-align: center;
    box-sizing: content-box;
    height: 185%;
    margin: -23px;
    padding-right: 273px;
}
.hello{
    margin-top: 10px;
    width: 252px;
}
.input{
    border: rgb(233, 238, 241);
    width: 500px;
    margin-bottom: -22px;
    margin-left: -8px;
    outline: none;
    border: none;
}

.style{
    margin-left: 280px;
    margin-bottom: -15px;
}