.login {
    margin-left: 430px;
    width: 450px;
    height: 550px;
    margin-top: 190px;
    background-color:darkgray;
  }
 
  .titel{
    width: 20px;
    height: 20px;
    margin-left: 30%;
    gap: 20px;
    color-adjust: gray;
    margin-top: 25px;
  }
  .input-style{
    margin-left: 50px;
    height: 100px;
    width: 350px;
    margin-top: 20px;
  }
.button{
  height: 45px;
  width: 92px;
  margin-left: 50px;
}
.forget{
  margin-left:144px;
  margin-top: 72px;

}