.card{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    background-color:rgb(214, 247, 252);
  }
 
  .subtitle{
    width: 20px;
    height: 20px;
    margin-left: 30%;
    gap: 20px;
    color-adjust: rgb(245, 113, 5);
    margin-top: 25px;
  }
  .formfield{
    margin-left: 50px;
    height: 100px;
    width: 350px;
    margin-top: 20px;
  }
.button{
  height: 45px;
  width: 120px;
  margin-left: 50px;
}
.forgetbutton{
  margin-left:150px;
  margin-top: 50px;
}