<div class="backborder">
    <h1>Login form</h1>
    <br>
    <mat-form-field appearance="outline" class="input">
          <mat-label>EmailorPhone</mat-label>
            <input type="text" matInput placeholder="Enter your Name" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input">
      <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter your Name" required> 
        </mat-form-field>
      <nav class="forget">
    <a routerLink="/registration" routerLinkActive="active">registration</a>
  </nav>
</div>
<div class="backborder">
<button mat-button>SignIn</button>
</div>