.matpad2
{
   height: 110px;
  height: max-content;
  width: 200px;
  padding-left: 100px;
}
 

.card
{
    height: max-content;
    width: 300px;
    padding-left: 50px;

     margin-top: 50px;
     margin-left: -7px;
     width:225px;
}