<div fxLayout="row" fxLayoutAlign="startcenter">
 <mat-card class="login">
  
       <mat-card-title class="titel">
           <h1>Fundoonotes</h1>
         </mat-card-title>
         <mat-card-subtitle class="titel">
           <h1 style="margin-top: 70px;margin-left: -20px">ForgotPassword</h1>
         </mat-card-subtitle>
  
   <div>
     <mat-form-field appearance="outline" class="input-style">
       <mat-label>Email</mat-label>
       <!-- <mat-error *ngIf="email.invalid"> {{ emailValidation() }}</mat-error> -->
       <input type="email" matInput placeholder="Enter your email"   >
        <mat-icon matSuffix>email</mat-icon> 
       <mat-hint>Email</mat-hint>
     </mat-form-field>
   </div>
   <div>
     <button mat-raised-button  color="primary" class="button">SendLink</button>
   </div>
 </mat-card>

</div>