.card{
  
  width: 500px;
  height: 300px;
  margin-top: 175px;
  background-color:rgb(247, 199, 199);
}
.subtitle{
  width: 20px;
  height: 20px;
  margin-left: 30%;
  color-adjust: rgb(6, 231, 18);
  margin-top: 25px;
}
.formfeild{
  margin-left: 50px;
  height: 100px;
  width: 350px;
  margin-top: 20px;
}
.button{
height: 60px;
width: 115px;
margin-left: 50px;
}
