<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="card">
      <!-------------------(Appname)----------------------------------->
      <mat-card-title class="subtitle">
        <h1>Fundoonotes</h1>
      </mat-card-title>
      <!-- ------------------(Maintitle)------------------------------->
      <mat-card-subtitle class="subtitle">
        <h1 style="margin-top: 70px;margin-left: -5px">SetPassword</h1>
      </mat-card-subtitle>
      <!-- -----------------------(password)-------------------------------->
      <div>
        <mat-form-field appearance="outline" class="formfield">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter your password" [formControl]="password" [(ngModel)]="setpassword.password" required>
          <mat-icon matSuffix>no_encryption</mat-icon>
          <mat-hint>Password</mat-hint>
        </mat-form-field>
      </div>
      <!-- --------------------------(ConfirmPasword)------------------------->
      <div>
        <mat-form-field appearance="outline" class="formfield">
          <mat-label>ConfirmPassword</mat-label>
          <input type="password" matInput placeholder="Enter your password" [formControl]="confirmpassword" required>
          <mat-icon matSuffix>no_encryption</mat-icon>
          <mat-hint>ConfirmPassword</mat-hint>
        </mat-form-field>
      </div>
      <!-- ---------------------------(Button)--------------------------------->
      <div class="button">
        <button mat-raised-button color="primary" (click)="onClick()">Verify</button>
      </div>
    </mat-card>
  </div>
</div>