<div>
    <div>
      <mat-card class="matcard"  layout="row" layout-align="center center">
        <div class="login-box-header" layout="row" layout-align="center center">
            
        </div>
        <mat-card-title style="text-align: center">
          <h1 >
            Fundoo
          </h1>
        </mat-card-title>
        <mat-card-subtitle style="text-align: center">
          <h2>
            Registration
          </h2>
        </mat-card-subtitle>
        <div>
              <mat-form-field appearance="outline" class="input">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Enter your Name" name="name" [(ngModel)]="user.name"
              required>
            
            <mat-icon matSuffix>Name</mat-icon>
            <mat-hint>Enter Name</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter your email" name="email" [(ngModel)]="user.email"
              required>
            
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Email</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="input">
            <mat-label>mobile</mat-label>
            <span matPrefix> +91&nbsp;</span>
            <input type="text" matInput placeholder="Enter your password" [(ngModel)]="user.mobileNumber"
            name="mobileNumber">
             
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint>mobile</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter your password" name="password"
              [(ngModel)]="user.password" required>
            
            
            <mat-hint>Password</mat-hint>
          </mat-form-field>
        </div>
       
        <div>
          <button mat-raised-button color="accent" style="margin-top: 30px" (click)="registerNow()"
          
            class="button">Register</button>
        </div>
      </mat-card>
    </div>
  
  
  </div>